In [24]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [25]:
#importing in bulding permit data
building_permits = pd.read_csv('C:/Users/mhviz/mlb-fast-prop/data/building_permits_2023_5461986780762354220.csv')
building_permits.head(1)

,Record ID,Street Number,Street Direction,Street Name,Street Type,Date Submitted,Date Issued,Permit Status,Permit Payment Amount,Building Legal Use,Stories,Zoning Code,Proposed Use,Type of Construction,Permit Type,Description of Work,Contractor Estimated Cost,Department Estimated Cost,Parcel ID,Latitude,Longitude,ObjectId,Address ID,Open to Elements?,Missing Portions?,Purchased From DLBA?,DLBA Compliant?,Change in Units?,Vacant?,x,y
0,BLD2010-03399,14401,NaN,PIERSON,NaN,7/27/2020 12:00:00 AM,7/27/2020 12:00:00 AM,Issued,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22107015.,42.392052,-83.246171,1,545664.0,NaN,NaN,NaN,NaN,NaN,NaN,-9.266921e+06,5.219889e+06

In [26]:
#parcel id date and permit are the only columns needed for now
columns_to_keep = ['Parcel ID', 'Date Issued', 'Permit Status']
building_permits_1 = building_permits[columns_to_keep]

building_permits_1.head(1)

   Parcel ID            Date Issued Permit Status
0  22107015.  7/27/2020 12:00:00 AM        Issued

In [3]:
#importing in blight violation data
blight_violations = pd.read_csv('C:/Users/mhviz/mlb-fast-prop/data/blight_violations (1).csv')
blight_violations.head(1)
#parcelno

C:\Users\mhviz\AppData\Local\Temp\ipykernel_424\3774732803.py:1: DtypeWarning: Columns (8,10,15,16,17,37) have mixed types. Specify dtype option on import or set low_memory=False.
  blight_violations = pd.read_csv('C:/Users/mhviz/mlb-fast-prop/data/blight_violations (1).csv')

,ticket_id,ticket_number,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_address,violation_zip_code,violator_id,mailing_address_street_number,mailing_address_street_name,mailing_address,city,state,zip_code,non_us_str_code,country,violation_date,ticket_issued_time,hearing_date,hearing_time,judgment_date,ordinance_law,ordinance_description,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,parcelno,longitude,latitude,address_id,updated_at,ESRI_OID
0,19939,05002662DAH,"Buildings, Safety Engineering & Env Department",Joseph Otis,PRESTIGE CLEANERS,660,WOODWARD AVE,660 WOODWARD AVE,NaN,2523,660,WOODWARD,660 WOODWARD,DETROIT,MI,48226,NaN,NaN,1107216000000,1727173800000,1.111018e+12,10:30AM,1.111450e+12,9-1-36(a),Failure of owner to obtain certificate of comp...,Responsible,250.0,20,10,0.0,0.0,NaN,280.0,0.0,280.0,NaN,NO PAYMENT APPLIED,NaN,01004105.,-83.04554,42.33103,348114.0,1111498938263,1

In [4]:
# parcelno, date, fine amount are the only ones needed
columns_to_keep = ['parcelno', 'violation_date', 'fine_amount']
blight_violations_1 = blight_violations[columns_to_keep]

blight_violations_1.head(1)

      parcelno  violation_date  fine_amount
0    01004105.   1107216000000        250.0
1    22055135.   1107129600000        100.0
2    22055131.   1107129600000        100.0
3  22029963-72   1106870400000        100.0
4    22054318.   1107129600000        100.0
5    22054094.   1107129600000        100.0
6    21000572.   1107216000000        250.0
7    06004064.   1107216000000        250.0
8    08004742.   1107216000000        250.0
9   22029822-8   1104537600000        100.0

In [28]:
#dropping N/A's
blight_violations_1 = blight_violations_1[blight_violations_1['violation_date'].notna()]
blight_violations_1 = blight_violations_1[blight_violations_1['parcelno'].notna()]
blight_violations_1 = blight_violations_1[blight_violations_1['fine_amount'].notna()]

In [18]:
#filter out all rows where violation_date is not 13-those must have been inputted incorrectly and will not convert to readable date correclty theres only 23 of them
blight_violations_1['violation_date'] = blight_violations_1['violation_date'].astype(str)

blight_violations_1 = blight_violations_1[blight_violations_1['violation_date'].str.isdigit() & (blight_violations_1['violation_date'].str.len() == 13)]

len(blight_violations_1)

765735

In [23]:
#now we have to convert the unix timestamp in the violation_date to a readbable date (using ms) becuase its 13 digits i think
blight_violations_1['violation_date'] = pd.to_datetime(blight_violations_1['violation_date'], unit='ms')

blight_violations_1.head()

      parcelno violation_date  fine_amount
0    01004105.     2005-02-01        250.0
1    22055135.     2005-01-31        100.0
2    22055131.     2005-01-31        100.0
3  22029963-72     2005-01-28        100.0
4    22054318.     2005-01-31        100.0

In [ ]:
#####

In [ ]:
# parcels = pd.read_csv('C:/Users/mhviz/mlb-fast-prop/detroit_housing_data.gitignore/Parcels.csv', low_memory = False)
# parcels.head(1)
# #parcel_number

In [ ]:
# #changing building_permits parcel id to parcel_number

# building_permits = building_permits.rename(columns={"Parcel ID": "parcel_number"})

In [ ]:
# #changing blight_violations parcelno to parcel_number

# blight_violations = blight_violations.rename(columns={"parcelno": "parcel_number"})
# blight_violations.head()

In [ ]:
# #merging building_permits and blight_violations
# merged_permits_and_violations = pd.merge(building_permits, blight_violations, on='parcel_number')

# merged_permits_and_violations.len()